body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 40px;
  background-color: lightgray;
}

button {
  padding: 12px 20px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 6px;
}
